@{
    ViewData["Title"] = "管理者トップ";
}

<h2>管理者トップページ</h2>

<p>ここから社員管理や勤怠管理画面に進めます。</p>

<ul>
    <li><a href="/Admin/Users" class="btn btn-outline-primary" role="button">社員一覧</a></li>
    <li><a href="/Admin/CreateUser" class="btn btn-outline-success" role="button">社員登録</a></li>
    <li><a href="/Admin/AttendanceList" class="btn btn-outline-warning" role="button">勤怠一覧</a></li>
</ul>
