@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4 fw-bold">勤怠打刻システム</h1>

    <a class="btn btn-primary btn-lg px-5 py-3" asp-area="Identity" asp-page="/Account/Login">
        開始する
    </a>
    <p class="mt-4">
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>